:root {
    --primary: #090504;
    --accent1: #0fbcf9;
    --fontcolor: #d2dae2;
}

* {
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: "Segoe UI", "Frutiger", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: var(--fontcolor);
}

#banner-image {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    background-image: url("../images/alain-pham-bridge.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    position: absolute;
    bottom: 20%;
    left: 0;
    display: inline;
    margin: 0 0 0 2.5%;
    background-color: var(--primary);
    font-size: 64px;
}

h2 {
    position: absolute;
    bottom: 10%;
    left: 0;
    display: inline;
    margin: 1.5% 0 0 2.5%;
    background-color: var(--primary);
    font-size: 32px;
}

#profile {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    display: inline;
    width: 400px;
    height: 400px;
}

nav {
    clear: both;
    width: 100%;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50px;
}

nav li {
    position: relative;
    width: 120px;
    height: 50px;
    margin-left: 5%;
}

nav a {
    position: absolute;
    bottom: 0;
    border: 1.5px solid var(--accent1);
    border-radius: 15px;
    width: 120px;
    padding: 8px 8px 9px 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--accent1);
}

main {
    margin: 5%;
}

p {
    line-height: 1.2;
    margin: 8px 0px;
    font-size: 16px;
}

h3 {
    font-size: 24px;
    padding: 5px 0px;
}

h4 {
    font-size: 18px;
    padding: 5px 0px;
}

section {
    margin-bottom: 80px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

article {
    float: left;
    width: 50%;
    padding: 15px 10px 15px 0;
}

article img {
    opacity: 0.6;
    padding: 5px 0px;
    height: 200px;
    width: 200px;
}

article img:hover {
    opacity: 1.0;
}

article p {
    padding-right: 100px;
}

#highlight {
    width: 100%;
}

#highlight img {
    height: 400px;
    width: 400px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#contact li {
    float: left;
    width: 10%
}

#contact img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

footer {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 12px;
}

/* For tablet sized screens and smaller, collapse the portfolio pieces into one column */
@media screen and (max-width: 800px) {
    article {
        width: 100%;
    }
  }

/* For phones, streamline the header and collapse the nav links into one column */
@media screen and (max-width: 500px) {
    #banner-image {
        background-image: none;
    }

    h1 {
        position: static;
        display: block;
        font-size: 45px;
    }

    h2 {
        position: static;
        display: block;
        font-size: 25px;
        margin-bottom: 15px;
    }

    #profile {
        position: static;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 310px;
        border-style: solid;
        border-color: var(--primary) #3c40c6  #3c40c6 var(--primary);
        border-width: 5px;
    }

    nav {
        height: 150px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
    }

    nav li {
        height: 50px;
    }

    #highlight img {
        height: 300px;
        width: 300px;
    }

    article p {
        padding-right: 15px;
    }

    #contact {
        height: 50px;
    }
    
    #contact li {
        width: 25%;
        margin-bottom: 10px;
    }
}