:root {
    --primary: #090504;
    --accent1: #3c40c6;
    --accent2: #00d8d6;
    --fontcolor: #d2dae2;
}
/* Using Swedish Palette on flatuicolors.com */

* {
    box-sizing: border-box;
    background-color: var(--primary);
    font-size: 16px;
    font-family: "Segoe UI", "Frutiger", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: var(--fontcolor);
}

#banner-image {
    background-image: url("../images/alain-pham-bridge.jpg");
    position: relative;
    /* background-color: var(--accent1); */
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}

h1 {
    display: inline;
    position: absolute;
    bottom: 18%;
    left: 0;
    margin: 0 0 0 25px;
    background-color: var(--primary);
    font-size: 4em;
}

h2 {
    display: inline;
    position: absolute;
    bottom: 10%;
    left: 0;
    margin: 15px 0 0 25px;
    background-color: var(--primary);
    font-size: 2em;
}

#profile {
    display: inline;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 400px;
    width: 300px;
}

nav {
    clear: both;
    height: 35px;
    width: 100%;
    background-color: var(--accent2);
}

nav li {
    float: left;
    width: 25%;
    background-color: var(--accent2);
    padding: 4px 0 0 5%;
}

nav a {
    background-color: var(--accent2);
    color: var(--primary);
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 40px;
}

main {
    margin: 5%;
}

p {
    line-height: 1.2;
    margin: 8px 0px;
}

h3 {
    font-size: 1.5em;
    padding: 5px 0px;
}

h4 {
    font-size: 1.25em;
    padding: 5px 0px;
}

section {
    margin-bottom: 80px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

article {
    float: left;
    justify-content: center;
    width: 50%;
    padding: 15px 10px 15px 0;
}

article img {
    padding: 5px 0px;
    height: 200px;
    width: 200px;
}

article p {
    padding-right: 100px;
}

#contact li {
    float: left;
    width: 10%
}

#contact img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

footer {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 0.8em;
}
